#  For Loops and While Loops

## For Loops

Iterating Over a List

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

Iterating Over a Range of Numbers

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

Iterating Over a String

In [3]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

Using a For Loop with an Else Clause

In [4]:
for i in range(3):
    print(i)
else:
    print("Loop finished successfully.")

0
1
2
Loop finished successfully.

Nested For Loop (Multiplication Table)

In [5]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

## While Loops

Basic While Loop

In [6]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

While Loop with Break Statement

In [7]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

While Loop with Continue Statement

In [8]:
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue
    print(count)

1
2
4
5

Infinite While Loop with a Break

In [9]:
while True:
    response = input("Type 'exit' to quit: ")
    if response == 'exit':
        break

Type 'exit' to quit: exit

While Loop with an Else Clause

In [10]:
count = 0
while count < 3:
    print(count)
    count += 1
else:
    print("Loop finished.")

0
1
2
Loop finished.

# Large Practical Applications

Finding the Maximum Value in a List

In [11]:
numbers = [3, 5, 2, 8, 1, 9, 4]
max_value = numbers[0]

for number in numbers:
    if number > max_value:
        max_value = number

print("The maximum value is:", max_value)

The maximum value is: 9

Counting Vowels in a String

In [12]:
text = "Hello, how are you?"
vowel_count = 0

for char in text:
    if char.lower() in 'aeiou':
        vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 7

Finding Prime Numbers within a Range

In [13]:
start = 10
end = 20

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num, "is a prime number")

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

Generating a Fibonacci Sequence

In [14]:
n = 10
a, b = 0, 1
fibonacci_sequence = []

while len(fibonacci_sequence) < n:
    fibonacci_sequence.append(a)
    a, b = b, a + b

print("Fibonacci sequence:", fibonacci_sequence)

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Simulating a Basic ATM Withdrawal

In [15]:
balance = 1000

while balance > 0:
    withdrawal = int(input("Enter amount to withdraw: "))
    if withdrawal <= balance:
        balance -= withdrawal
        print("Withdrawal successful. Remaining balance:", balance)
    else:
        print("Insufficient balance.")
    if balance == 0:
        print("Balance is zero. Exiting.")
        break

Enter amount to withdraw: 512
Withdrawal successful. Remaining balance: 488
Enter amount to withdraw: 400
Withdrawal successful. Remaining balance: 88
Enter amount to withdraw: 88
Withdrawal successful. Remaining balance: 0
Balance is zero. Exiting.

Finding Common Elements in Two Lists

In [16]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [4, 5]

Calculating Factorial of a Number

In [17]:
num = 5
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Factorial of 5 is 120

Validating User Input with While Loop

In [18]:
while True:
    user_input = input("Enter a number greater than 10: ")
    if user_input.isdigit() and int(user_input) > 10:
        print("Thank you!")
        break
    else:
        print("Invalid input. Please try again.")

Enter a number greater than 10: 15
Thank you!

Finding the Sum of Digits of a Number

In [19]:
number = 1234
sum_of_digits = 0

while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10

print("Sum of digits:", sum_of_digits)

Sum of digits: 10

Drawing a Simple Pattern Using Loops

In [22]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

Checking for Palindrome Strings

In [23]:
word = "madam"
is_palindrome = True

for i in range(len(word) // 2):
    if word[i] != word[-(i + 1)]:
        is_palindrome = False
        break

if is_palindrome:
    print(f"{word} is a palindrome.")
else:
    print(f"{word} is not a palindrome.")

madam is a palindrome.

Creating a Dictionary from Two Lists

In [24]:
keys = ["name", "age", "location"]
values = ["Alice", 30, "New York"]
dictionary = {}

for i in range(len(keys)):
    dictionary[keys[i]] = values[i]

print(dictionary)

{'name': 'Alice', 'age': 30, 'location': 'New York'}

Simulating a Simple Password Check

In [25]:
correct_password = "python123"
attempts = 3

while attempts > 0:
    password = input("Enter your password: ")
    if password == correct_password:
        print("Access granted.")
        break
    else:
        attempts -= 1
        print(f"Incorrect password. You have {attempts} attempts left.")
else:
    print("Access denied. You have used all attempts.")

Enter your password: fs5fs44
Incorrect password. You have 2 attempts left.
Enter your password: fsfsf15
Incorrect password. You have 1 attempts left.
Enter your password: python123
Access granted.

Generating a Multiplication Table for a Given Number

In [26]:
number = 7
limit = 10

for i in range(1, limit + 1):
    print(f"{number} x {i} = {number * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70